$primary-font: "Montserrat", Arial, Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-bold: 700;

$brand-primary: #f97000;

$danger: #ee0101;
$info: #4fb4e2;
$white: #fff;
$black: #000;
$grey: #333;
$grey-light: #727272;
$grey-lighter: #dddddd;
$selection-color: #cad3d3;
$body-bg: #f9f7f7;

$border: $brand-primary;
$form-group-margin-bottom: 30px;

$unit: 4px;
$max-width: 1200px;
